Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
jitters
.deps/
.dirstamp
# `dist` related output
*.bz2
# Flex/Bison output files
src/parse/parse-jitters.c
src/parse/parse-jitters.h
src/parse/scan-jitters.c
